<component name="ArtifactManager">
  <artifact type="war" name="springJdbc:war">
    <output-path>$PROJECT_DIR$/../springJdbc/target</output-path>
    <root id="archive" name="springjdbc.war">
      <element id="artifact" artifact-name="springJdbc:war exploded" />
    </root>
  </artifact>
</component>